<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Notifications</title>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <!-- MDB core JavaScript -->

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">

</head>

<body>
    <div class="topbar row">
        <h3 class="col-sm-8">Notification panel</h3>
        <select class="category-filter">
            <option value="all">all</option>
            <% for(var i=0; i<categories.length; i++){ %>
              <option value="<%=categories[i]%>"><%=categories[i]%></option>  
            <%}%>
        </select>
        <span class="col-sm-1"></span>
    </div>
    <div class="tabs-wrapper">
        <ul class="nav md-pills nav-justified pills-secondary">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">View Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Settings</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <!--Panel 1-->
        <div class="tab-pane fade in show active row" id="panel1" role="tabpanel">
            <div class="container-fluid" id="view-wrapper">
                
                <div class="notifications-container row"></div>
                
            </div> 
        </div>
        <!--/.Panel 1-->
        <!--Panel 2-->
        <div class="tab-pane fade container-fluid row" id="panel2" role="tabpanel">
            <div id="edit-wrapper">
            <%if(isAdmin){%>
                <div class="row">
                    <div class="create-container col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-block">
                                <input class="col-sm-12" type="text" placeholder="Title" id="create-card-title" />
                                <input class="col-sm-12" type="text" placeholder="Content" id="create-card-description" />
                                <br>
                                <label for="category-edit">Category: </label>
                                <select id="category-create" class="category">
                                    <% for(var i=0; i<categories.length; i++){ %>
                                      <option value="<%=categories[i]%>"><%=categories[i]%></option>  
                                    <%}%>
                                </select>
                                <br>
                                <button class="btn btn-primary create">Create</button>
                            </div>
                        </div>
                    </div>
                     
                    <div class="add-category col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <h2>Add new category for notifications.</h2>
                            <br>
                            <input class="new-category" id="new_category" placeholder="Name of category" type="text"/>
                            <br>&nbsp;
                            <button class="btn btn-primary" id="save_new_category">ADD</button>
                            <br>
                        </div>
                    </div>
                </div>
            <%}else{%>  
                <div class="row">
                    <div class="mute-categories col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <h4>Mute categories</h4>
                            <br>&nbsp;
                            <div class="mute-box"></div>
                            <br>&nbsp;
                            <button class="btn btn-primary" id="save_mute">MUTE</button>
                        </div>
                    </div>
                    <div class="unmute-categories col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <h4>Unmute categories</h4>
                            <br>&nbsp;
                            <div class="unmute-box" id="save_unmute_option"></div>
                            <br>&nbsp;
                            <button class="btn btn-primary" id="save_unmute">UNMUTE</button>
                            <br>
                        </div>
                    </div>
                </div>

                        
            <%}%>
        </div>
        </div>
        <!--/.Panel 2-->
        <!--Panel 3-->
        
    </div>
    


    
    <script>
        //script necessary for server side rendering
        let isAdmin = <%= isAdmin %>;
        let url = "<%= url %>";
        let port = "<%= port %>";
        if(isAdmin == false){
            $('.create-container').remove();
        }
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
                
</body>

</html>
